PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb+srv://lavanyasrivastav1357_db_user:zDuW564bDiuzokcY@cluster0.vyqeeoq.mongodb.net/?appName=Cluster0
REDIS_URL=rediss://default:gQAAAAAAApa8AAIgcDE5MzA3NjYwOWU1N2M0NzE1YWM3YmQ4MjU2ZGExZDUyNQ@known-boa-169660.upstash.io:6379
JWT_SECRET=replace_with_a_long_random_string
JWT_REFRESH_SECRET=replace_with_a_different_long_random_string
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=30d

CLIENT_URL=https://devtrace-six.vercel.app/
COOKIE_DOMAIN=.vercel.app
